<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Command Execution Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
</head>
<body class="p-5 bg-gray-50">
<div class="flex justify-end">
    <form action="/" method="get" class="mb-4">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="px-3 mb-6 md:mb-0">
                <label for="start" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Start
                    Time:</label>
                <input type="datetime-local" id="start" name="start" value="{{.StartTime}}"
                       class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            </div>
            <div class="px-3 mb-6 md:mb-0">
                <label for="end" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">End
                    Time:</label>
                <input type="datetime-local" id="end" name="end" value="{{.EndTime}}"
                       class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            </div>
            <div class="px-3 flex items-end">
                <button type="submit"
                        class="mt-2 px-4 py-3 bg-blue-500 text-white rounded focus:outline-none focus:border-gray-500 focus:bg-blue-600 leading-tight">
                    Filter
                </button>
            </div>
        </div>
    </form>
</div>
<div class="w-full">
    <div class="p-4 shadow-lg rounded-lg">
        <canvas id="commandsExecutionTime"></canvas>
    </div>
</div>
<div class="overflow-x-auto mt-8">
    <table id="commandsTable" class="stripe" style="width:100%">
        <thead>
        <tr>
            <th>Category</th>
            <th>Command</th>
            <th>Execution Time</th>
        </tr>
        </thead>
        <tbody>
        {{range .Commands}}
        <tr>
            <td>{{.Category}}</td>
            <td>{{.Command}}</td>
            <td>{{.ExecutionTime}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
<script>
    (async function () {
        new DataTable('#commandsTable');

        const commandsData = `{{.CommandsJSON}}`;

        function isDataEmpty(data) {
            try {
                const parsed = JSON.parse(data);
                return !parsed.data || !parsed.data.datasets || parsed.data.datasets.length === 0 || parsed.data.datasets.every(ds => ds.data.length === 0);
            } catch(e) {
                console.error("Error parsing data:", e);
                return true;
            }
        }

        if (isDataEmpty(commandsData)) {
            document.querySelector('.w-full').innerHTML = `<div class="text-center text-gray-500 p-4 shadow-lg rounded-lg">No command execution data available.</div>`;
        } else {
            const commandsChart = JSON.parse(commandsData);
            commandsChart.options.onClick = function (event, elements) {
                if (elements.length > 0) {
                    const firstElement = elements[0];
                    const index = firstElement.index;
                    const commandInfo = commandsChart.data.ids[index];
                    window.location.href = `/overview?id=${commandInfo}`;
                }
            };

            new Chart(document.getElementById('commandsExecutionTime'), commandsChart);
        }
    })();
</script>
</html>
