<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Command Execution Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Inter:wght@400;500&display=swap"
          rel="stylesheet">
    <style>
        .canvas {
            border-radius: 8px;
            border: 2px solid rgb(235, 184, 255);
        }

        .graph {
            min-height: 400px;
        }

        .filter {
            background-color: rgb(134, 12, 182);
        }

        html * {
            font-family: 'Fira Mono', monospace;
        }

        .inter {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body class="p-5">
<!-- Loading Indicator Overlay -->
<div id="loading" class="fixed inset-0 bg-gray-300 opacity-75 z-50 flex justify-center items-center">
    <div class="spinner-border h-12 w-12 border-4 rounded-full animate-spin"
         style="border-color: #3490dc transparent #3490dc transparent;"></div>
</div>
<div class="flex flex-col md:flex-row justify-between items-center mb-10 mt-5">

    <div class="flex justify-between items-center mb-4 md:mb-0">
        <div class="flex items-center">
            <img alt="DevZero logo" loading="lazy" width="28" height="28"
                 class="text-transparent"
                 src="https://dora.devzero.io/_next/static/media/devzero_logo.bd84b789.svg">
            <div class="ml-4 mt-4">
                <h1 class="text-xl md:text-3xl font-bold inline-flex items-baseline space-x-3">
                    LDA <span class="text-sm md:text-base font-medium ml-1">dashboard</span>
                </h1>
                <p class="text-xs font-normal leading-tight ml-14 inter">
                    A project by DevZero
                </p>
            </div>
        </div>
    </div>

    <form action="/" method="get">
        <div class="flex flex-wrap -mx-3">
            <div class="w-full md:w-2/5 px-3 mb-3 md:mb-0">
                <label for="start" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Start
                    Time</label>
                <input type="datetime-local" id="start" name="start" value="{{.StartTime}}"
                       class="appearance-none block w-full bg-white text-black border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500">
            </div>
            <div class="w-full md:w-2/5 px-3 mb-3 md:mb-0">
                <label for="end" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">End
                    Time</label>
                <input type="datetime-local" id="end" name="end" value="{{.EndTime}}"
                       class="appearance-none block w-full bg-white text-black border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500">
            </div>
            <div class="w-full md:w-1/5 px-3 flex items-end">
                <button type="submit" class="filter w-full px-4 py-3 text-white rounded focus:outline-none">
                    Filter
                </button>
            </div>
        </div>
    </form>

</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="canvas">
        <h3 class="text-lg font-semibold m-5">Commands Execution Time</h3>
        <div class="graph p-4">
            <canvas class="p-5" id="commandsExecutionTime"></canvas>
        </div>
    </div>
    <div class="canvas">
        <h3 class="text-lg font-semibold m-5">Processes Resource Usage</h3>
        <div class="graph p-4">
            <canvas class="p-5" id="processesResourceUsage"></canvas>
        </div>
    </div>
    <div class="canvas">
        <h3 class="text-lg font-semibold m-5">CPU Time Series</h3>
        <div class="graph p-4">
            <canvas class="p-5" id="cpuTimeSeries"></canvas>
        </div>
    </div>
    <div class="canvas">
        <h3 class="text-lg font-semibold m-5">Memory Time Series</h3>
        <div class="graph p-4">
            <canvas class="p-5" id="memoryTimeSeries"></canvas>
        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Hide the loading spinner once the DOM is fully loaded
        document.getElementById('loading').style.display = 'none';
    });

    (async function () {

        // Use the injected JSON data
        const commandChart = `{{.CommandsJSON}}`;
        const processesChart = `{{.ProcessesJSON}}`;
        const cpuTimeChart = `{{.CPUTimeSeriesJSON}}`;
        const memoryTimeChart = `{{.MemoryTimeSeriesJSON}}`;

        function isDataEmpty(data) {
            try {
                const parsed = JSON.parse(data);
                return parsed.data.datasets.length === 0 || parsed.data.datasets.some(ds => ds.data.length === 0);
            } catch (e) {
                return true;
            }
        }

        function renderChartOrMessage(containerId, chartData, message = "No data available") {
            if (isDataEmpty(chartData)) {
                document.getElementById(containerId).parentElement.innerHTML = `<p class="text-center text-gray-500">${message}</p>`;
            } else {
                const parsedData = JSON.parse(chartData);
                if (containerId === 'processesResourceUsage') {
                    parsedData.options.plugins.tooltip = {
                        callbacks: {
                            beforeTitle: function (context) {
                                return context[0].raw.processName;
                            },
                        }
                    };

                    parsedData.data.datasets[0].pointRadius = function (context) {
                        return context.raw.r;
                    };

                } else if (containerId === 'commandsExecutionTime') {
                    parsedData.options.onClick = function (event, elements) {
                        // 'elements' is an array of elements that are at the click position.
                        if (elements.length > 0) {
                            const firstElement = elements[0];

                            // Getting dataset index and index of the item within the dataset
                            const index = firstElement.index;

                            // Retrieve the data for the clicked item
                            const label = this.data.labels[index];

                            document.getElementById('loading').style.display = '';

                            window.location.href = `/command?label=${label}`;
                        }
                    };
                }

                new Chart(document.getElementById(containerId).getContext('2d'), parsedData);
            }
        }

        renderChartOrMessage('memoryTimeSeries', memoryTimeChart);
        renderChartOrMessage('cpuTimeSeries', cpuTimeChart);
        renderChartOrMessage('commandsExecutionTime', commandChart);
        renderChartOrMessage('processesResourceUsage', processesChart);
    })();
</script>
</html>
