<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Command Execution Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="p-5">
<div class="flex justify-end">
    <form action="/" method="get" class="mb-4">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="px-3 mb-6 md:mb-0">
                <label for="start" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Start
                    Time:</label>
                <input type="datetime-local" id="start" name="start" value="{{.StartTime}}"
                       class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            </div>
            <div class="px-3 mb-6 md:mb-0">
                <label for="end" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">End
                    Time:</label>
                <input type="datetime-local" id="end" name="end" value="{{.EndTime}}"
                       class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            </div>
            <div class="px-3 flex items-end">
                <button type="submit"
                        class="mt-2 px-4 py-3 bg-blue-500 text-white rounded focus:outline-none focus:border-gray-500 focus:bg-blue-600 leading-tight">
                    Filter
                </button>
            </div>
        </div>
    </form>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="p-4 shadow-lg rounded-lg">
        <canvas id="commandsExecutionTime"></canvas>
    </div>
    <div class="p-4 shadow-lg rounded-lg">
        <canvas id="processesResourceUsage"></canvas>
    </div>
    <div class="p-4 shadow-lg rounded-lg">
        <canvas id="cpuTimeSeries"></canvas>
    </div>
    <div class="p-4 shadow-lg rounded-lg">
        <canvas id="memoryTimeSeries"></canvas>
    </div>
</div>
</body>
<script>
    (async function () {
        // Use the injected JSON data
        const commandChart = `{{.CommandsJSON}}`;
        const processesChart = `{{.ProcessesJSON}}`;
        const cpuTimeChart = `{{.CPUTimeSeriesJSON}}`;
        const memoryTimeChart = `{{.MemoryTimeSeriesJSON}}`;

        function isDataEmpty(data) {
            try {
                const parsed = JSON.parse(data);
                return parsed.data.datasets.length === 0 || parsed.data.datasets.some(ds => ds.data.length === 0);
            } catch(e) {
                return true;
            }
        }

        function renderChartOrMessage(containerId, chartData, message = "No data available") {
            if (isDataEmpty(chartData)) {
                document.getElementById(containerId).parentElement.innerHTML = `<p class="text-center text-gray-500">${message}</p>`;
            } else {
                const parsedData = JSON.parse(chartData);
                if(containerId === 'processesResourceUsage') {
                    parsedData.options.plugins.tooltip = {
                        callbacks: {
                            beforeTitle: function (context) {
                                return context[0].raw.processName;
                            },
                        }
                    };

                    parsedData.data.datasets[0].pointRadius = function (context) {
                        return context.raw.r;
                    };

                } else if(containerId === 'commandsExecutionTime') {
                    parsedData.options.onClick = function (event, elements) {
                        // 'elements' is an array of elements that are at the click position.
                        if (elements.length > 0) {
                            const firstElement = elements[0];

                            // Getting dataset index and index of the item within the dataset
                            const index = firstElement.index;

                            // Retrieve the data for the clicked item
                            const label = this.data.labels[index];

                            window.location.href = `/command?label=${label}`;
                        }
                    };
                }

                new Chart(document.getElementById(containerId).getContext('2d'), parsedData);
            }
        }

        renderChartOrMessage('memoryTimeSeries', memoryTimeChart);
        renderChartOrMessage('cpuTimeSeries', cpuTimeChart);
        renderChartOrMessage('commandsExecutionTime', commandChart);
        renderChartOrMessage('processesResourceUsage', processesChart);
    })();
</script>
</html>
