<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Command Execution Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="p-5">
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="p-4 shadow-lg rounded-lg">
        <canvas id="processesResourceUsage"></canvas>
    </div>
    <div class="p-4 shadow-lg rounded-lg">
        <canvas id="cpuTimeSeries"></canvas>
    </div>
    <div class="p-4 shadow-lg rounded-lg">
        <canvas id="memoryTimeSeries"></canvas>
    </div>
</div>
</body>
<script>
    (async function () {
        const processData = `{{.ProcessesJSON}}`;
        const cpuData = `{{.CPUTimeSeriesJSON}}`;
        const memoryData = `{{.MemoryTimeSeriesJSON}}`;

        console.log(processData);

        function isDataEmpty(data) {
            try {
                const parsed = JSON.parse(data);
                return parsed.data.datasets.length === 0 || parsed.data.datasets.some(ds => ds.data.length === 0);
            } catch(e) {
                return true;
            }
        }

        function renderChartOrMessage(containerId, chartData, message = "No data available") {
            if (isDataEmpty(chartData)) {
                document.getElementById(containerId).parentElement.innerHTML = `<p class="text-center text-gray-500">${message}</p>`;
            } else {
                const parsedData = JSON.parse(chartData);
                if(containerId === 'processesResourceUsage') {
                    parsedData.options.plugins.tooltip = {
                        callbacks: {
                            beforeTitle: function (context) {
                                return context[0].raw.processName;
                            },
                        }
                    };

                    parsedData.data.datasets[0].pointRadius = function (context) {
                        return context.raw.r;
                    };
                }

                new Chart(document.getElementById(containerId).getContext('2d'), parsedData);
            }
        }

        renderChartOrMessage('processesResourceUsage', processData);
        renderChartOrMessage('cpuTimeSeries', cpuData);
        renderChartOrMessage('memoryTimeSeries', memoryData);
    })();
</script>
</html>
