<plist version="1.0">
<dict>
    <key>Label</key>
    <string>devzero.io.lda</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{.BinaryPath}}</string>
	{{- range .CollectCommandSplit }}
        <string>{{.}}</string>
        {{- end }}
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>UserName</key>
    <string>{{.Username}}</string>
    <key>EnvironmentVariables</key>
        <dict>
            <key>HOME</key>
            <string>{{.Home}}</string>
        </dict>
    <key>StandardOutPath</key>
    <string>/tmp/devzero.io.lda.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/devzero.io.lda.err.log</string>
</dict>
</plist>
