[Unit]
Description=Devzero.io LDA Service
After=network.target

[Service]
Environment="SHELL={{.Shell}}"
Environment="HOME={{.Home}}"
User={{.Username}}
Group={{.Group}}
Type=simple
ExecStart={{.BinaryPath}} collect
Restart=always
StandardOutput=file:/tmp/devzero.io.lda.out.log
StandardError=file:/tmp/devzero.io.lda.err.log

[Install]
WantedBy=default.target
